<h1><%= params[:title] %></h1>

<div><%= params[:body] %></div>

<h3>Comments</h3>

<%= link_to 'Add a Comment', new_review_comment_path(@review) %>

<% if @review.comments.present? %>
  <div>
    <ul>
      <%  @review.comments.each do |comment| %>
        <li>
          <%= comment.body %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Delete Comment', review_comment_path(@review, comment), method: :delete %>
          <% end %>
        </li>
      <%end%>
    </ul>
  </div>
<% end %>

<ul>
<% if user_signed_in? && current_user.admin? %>
  <li><%= link_to 'Delete', review_path(@review), method: :delete %></li>
  <% end %>
</ul>

<%= link_to 'Back to Hack', life_hacks_path %>
