<h1><%= params[:title] %></h1>

<div><%= params[:body] %></div>

  <%= simple_form_for (@like) do |f| %>
  <%= f.button :submit,'Like' %>
  <% end %>

<h3>Comments</h3>

<%= link_to 'Add a Comment', new_review_comment_path(@review) %>

<% if @review.comments.present? %>
  <div>
    <ul>
      <%  @review.comments.each do |comment| %>
        <li>
          <%= comment.body %>
        </li>
      <%end%>
    </ul>
  </div>
<% end %>


<%= link_to 'Back to Hack', life_hacks_path %>
