<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if request.env['PATH_INFO'] != new_user_registration_path && request.env['PATH_INFO'] != '/users' %>
      <nav>
          <ul>   
              <% if !user_signed_in? %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
              <% else %>
                <li>Welcome <%= current_user.name %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <li><%= image_tag(current_user.avatar.url) %></li>
              <% end %>
          </ul>
      </nav>
    <% end %>

    <% if flash[:notice].present? %>
      <%= flash[:notice] %>
    <% end %>

    <% if flash[:alert].present? %>
      <%= flash[:alert] %>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
